/* don't touch this */

.visuals {
  overflow: hidden;
  .container {
    /*border: 1px dotted yellow;*/
    position: relative;
  }
}

.visuals__canvas {
  /*border: 1px dotted red;*/
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .svg {
    position: absolute;
  }
}

.visuals__overlay {
  position: relative;
  z-index: 2;
}

/* start defining your artboards here */

.visuals__canvas--01 {
  .svg-corner {
    width: 180%;
    left: -50%;
    top: -100%;
  }
  .svg-tri-triangles-a {
    max-width: 10%;
    right: 4%;
    bottom: 0;
  }
  .svg-circle {
    max-width: 22%;
    right: 0;
    top: 0;
  }
}


/* visual on 2017.cssconf.eu landing page */

.visuals--02 {
  &.header {
    padding-top: 0;
  }
  .svg-cssconfeu-logo-2017 {
    max-width: 26rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (--small-ish) {
      padding-top: 4rem;
      padding-bottom: 2rem;
    }
    @media (--medium-ish) {
      max-width: 30rem;
      padding-top: 4rem;
    }
    @media (--large-ish) {
      padding-top: 5rem;
    }
  }
  .svg-start-blue-finger {
    width: 22%;
    max-width: 7rem;
    top: 0;
    left: calc(50% - 3.5rem);
    @media (--small-ish) {
      left: 33%;
    }
  }
  .svg-start-red-thumb {
    width: 9%;
    max-width: 5rem;
    top: -12%;
    right: calc(50% - 4rem);
    @media (--small-ish) {
      top: 0;
      right: 30%;
    }
  }
  .svg-start-donut {
    width: 15%;
    max-width: 6.5rem;
    bottom: 15%;
    left: 2%;
    @media (--small-ish) {
      left: 7%;
    }
    @media (--medium-ish) {
      max-width: 5.5rem;
      bottom: 22%;
      left: 10%;
    }
  }
  .svg-start-tiny-triangle {
    width: 8%;
    max-width: 2.5rem;
    bottom: 1%;
    left: calc(50% - 1rem);
    @media (--small-ish) {
      bottom: 6%;
      left: 22%;
    }
    @media (--medium-ish) {
      bottom: 12%;
      left: 18%;
    }
  }
  .svg-start-circle {
    width: 3.5%;
    top: 17%;
    right: 12%;
  }
  .svg-start-arc-1 {
    width: 17%;
    max-width: 9rem;
    top: 7%;
    right: 5%;
  }
  .svg-start-blue-arc {
    width: 16%;
    bottom: 15%;
    right: 2%;
    @media (--medium-ish) {
      width: 15%;
      bottom: 14%;
      right: 0;
    }
  }
  .svg-start-green-gradient {
    width: 12%;
    bottom: -14%;
    right: -20%;
    @media (--medium-ish) {
      bottom: 6%;
      right: 20%;
    }
  }
  .svg-start-arc-2 {
    width: 22%;
    bottom: -25%;
    left: -30%;
    @media (--medium-ish) {
      bottom: 5%;
      left: 5%;
    }
  }
  .svg-start-triangle-group {
    width: 20%;
    max-width: 10rem;
    top: 10%;
    left: 2%;
    @media (--small-ish) {
      top: 12%;
      left: 5%;
    }
  }
}
