.top-bar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  height: var(--height-top-bar-smallish);
  flex-direction: column;
  align-items: center;
  background-color: var(--color-white);
  z-index: 100; /* to be above svg visuals, even if many svgs are present */
  @media (--small-ish) {
    align-items: center;
    flex-direction: row;
    height: var(--height-top-bar);
    justify-content: space-between;
  }
  @media (--large-ish) {
    height: calc(1.25 * var(--height-top-bar));
  }
}

.top-bar__title {
  color: var(--color-grey-dark);
  font-size: 1em;
  line-height: 1;
  margin-bottom: 0;
  span {
    color: var(--color-blue);
  }
  @media (--large-ish) {
    font-size: 1.125rem; /* 18px */
  }
}

.top-bar__cta {
  display: none;
  flex-shrink: 0;
  @media (--small-ish) {
    display: block;
  }
}

.top-bar__nav {
  justify-content: center;
  display: flex;
  margin-top: 1rem;
  @media (--small-ish) {
    flex-direction: row;
    margin-top: 0;
  }
}

.top-bar__nav-link {
  padding: 0 .25rem;
  margin: 0 .5rem;
  @media (--small-ish) {
    padding-bottom: .5rem;
    padding-top: .5rem;
  }
}
